@charset "UTF-8";

table, form, div, a {
	display: flex;
	justify-content: center;
}

table, th, td {
	gap: 5px; 
	text-align: center;
	
}


form {
	gap: 10px;
	flex-direction: column;
	margin-left: 0 auto;
	
}

input, textarea {
	width: 100%;
}

div {
	width: 60%;
	margin-left: 20%;
}

a {
	gap: 20px; 
	align-items: center;
}

table, td, th, tr{
	width: 100%;
}


body {
	width: 80%;
}
